<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HBNB</title>
        <meta charset="utf-8">
        <link href="static/styles/4-common.css" rel="stylesheet">
        <link href="static/styles/3-header.css" rel="stylesheet">
        <link href="static/styles/3-footer.css" rel="stylesheet">
        <link href="static/styles/3-footer.css" rel="stylesheet">
        <link href="static/styles/6-filters.css" rel="stylesheet">
        <link href="static/images/icon.png" rel="icon">
    </head>
    <body>
        <header>
        </header>
        <div class="container">
            <section class="filters">
                <div class="locations">
                    <h3>States</h3>
                    <h4>&nbsp;</h4>
                    <ul class="popover">
			{% for state in states.values()|sort(attribute='name') %}
			<LI><H2>{{ state.name }}</H2>
			  <UL>
			    {% for city in state.cities|sort(attribute='name') %}
			    <LI>{{ city.name }}</LI>
			    {% endfor %}
			  </UL>
			</LI>
			{% endfor %}
		      </UL>
                    </ul>
                </div><!---
                --><div class="amenities">
                    <h3>Amenities</h3>
                    <h4>&nbsp;</h4>
                    <ul class="popover">
		      {% for amenity in amenities.values()|sort(attribute='name') %}
		      <LI>{{ amenity.name }}</LI>
		      {% endfor %}
                    </ul>
                </div>
                <button class="button">
                    Search
                </button>
            </section>
        </div>
        <footer>
            <p>Holberton School</p>
        </footer>
    </body>
</html>
